@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap');

body{
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
}

a{
    text-decoration: none;
}
img{
    width: 100%;
}
/* HEADER */

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: 500;
}
nav .svg{
    width: 40%;
    margin: auto;
}
nav .menu{
    display: flex;
    justify-content: end;
    margin:auto 0;
}

nav a{
    color: #000;
    margin-left: 50px;
}

/* MAIN */
.main{
    padding: 10px 15px;
}
main .container{
    background-image: url("./image/Rectangle\ 1\ \(3\).png");
    height: 600px;
    border-radius: 20px;
    display: flex;
} 
.img-honey{
    width: 8%;
    position: absolute;
}
.container .name{
    width: 65%;
}
.container .name{
    font-size: 100px;
    font-weight: 600;
    display: block;
}
.container .name p{
    margin: 0;
}
.container .img{
    width: 35%;
    margin-top: 100px;
}
.container .name .finger{
   margin-top: 80px;
   margin-left: 100px;
}
.container .name .licking{
    margin-left: 200px;
}
.container .row{
    display: flex;
    margin-left: 250px;
}
.container svg{
    margin-right: 50px;
}
.container .button{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 260px;
}
.button .black{
    background-color: #000;
    padding: 15px 35px;
    color: white;
    border: 2px solid #000;
    margin-right: 20px;
}
.button .orange{
    padding: 15px 25px;
    color: #000;
    border: 2px solid #000;
}

/* LOGOS */

.logo{
    height: 300px;
    padding: 10px 100px;
}
.logo h3{
    font-size: 50px;
    font-weight: 700;
}
.logos{
    display: flex;
    justify-content: space-between;
}
.logos .img{
    width: 15%;
    display: flex;
    margin: 0;
}

/* PRODUCT */

.product{
    height: 600px;
    padding: 10px 100px;
}
.product .row{
    display: flex;
}

.product .img{
    width: 50%;
}
.product .description{
    width: 50%;
}
.product h3{
    font-size: 50px;
}
.product p{
    font-size: 20px;
}
.product .button{
    font-size: 20px;
    margin-top: 50px;   
}
.product .button a{
    padding: 15px 35px;
    background-color: #E58311;
    color: white;
}

/* BOX */

.box{
    display: flex;
    justify-content: space-around;
}
.box-one{
    width: 40%;
    background-color: #e5821125;
    padding: 20px 10px;
}
.box-two{
    width: 40%;
    background-color: #e5821123;
    padding: 30px 10px;
}
.box .row{
    display: flex;
    justify-content: center;
}
.box .description{
    width: 50%;
}
.box .button{
    margin-top: 40px;
}
.box a{
    border: 2px solid #E58211;
    padding: 10px 20px;
    color: #E58211;
}